Importing the Dependencies

In [40]:
import math
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, recall_score

In [41]:
# loading the dataset to a pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [42]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [43]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
7968,10980,1.284388,-0.013181,0.646174,0.198985,-0.568675,-0.526121,-0.448235,-0.167709,1.773223,...,-0.101868,-0.030298,-0.081412,-0.123281,0.278808,1.064001,-0.090181,0.000481,15.95,0.0
7969,10981,1.190428,-0.122329,0.954945,0.267101,-0.971026,-0.652279,-0.612992,-0.003909,1.633117,...,-0.015001,0.127027,0.012079,0.534409,0.112179,1.004483,-0.100188,-0.004774,14.95,0.0
7970,10981,-0.725175,0.298202,1.824761,-2.587170,0.283605,-0.016617,0.153659,0.045084,-0.197611,...,-0.017097,-0.070535,-0.442861,-0.895837,0.624743,-0.510601,-0.031142,0.025564,12.95,0.0
7971,10981,1.226153,-0.129645,0.735197,0.142752,-0.703245,-0.349641,-0.612641,0.020507,1.648986,...,-0.047936,0.040196,-0.057391,-0.012386,0.187685,1.037786,-0.100081,-0.009869,15.95,0.0
7972,10981,1.145381,-0.059349,0.968088,0.267891,-0.822582,-0.597727,-0.450197,-0.119747,1.338188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [45]:
#distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    7947
1.0      25
Name: Class, dtype: int64

This dataset is highly unblanced

0--> Normal Transaction

1--> fraudulent transction

In [46]:
#seprating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]
print(legit.shape)
print(fraud.shape)

(7947, 31)
(25, 31)

In [47]:
#Statistical measures of the data
legit.Amount.describe()

count    7947.000000
mean       65.284891
std       194.126547
min         0.000000
25%         4.795000
50%        15.950000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [48]:
fraud.Amount.describe()

count      25.000000
mean      106.308400
std       372.676883
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max      1809.680000
Name: Amount, dtype: float64

In [49]:
#compare the values for both transaction     Mean

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,4246.546496,-0.297235,0.286979,0.917142,0.201968,-0.023263,0.164019,-0.019547,-0.072779,0.662196,...,0.042418,-0.055123,-0.165485,-0.034918,0.026636,0.088960,0.019511,0.014875,0.000417,65.284891
1.0,7359.240000,-1.154048,2.930880,-4.757618,4.590240,-0.636103,-1.952536,-2.202403,0.647916,-1.581984,...,0.263011,0.393614,-0.265715,-0.116502,-0.183413,0.067479,0.256994,0.421586,0.237600,106.308400

**Under-Sampling**


Build a saple dataset containing similar distribution of normal transactions and Fraudulen transaction
 number of Fraudulent Transaction->492

In [50]:
legit_sample = legit.sample(n=492)

In [51]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [52]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
6581,8014,0.649933,-0.660716,1.283827,2.169457,-0.938512,0.546842,-0.285284,0.083293,2.374569,...,-0.407082,-0.894580,-0.060158,0.365568,0.306398,-0.593129,0.029920,0.064128,222.99,0.0
5928,6538,-1.057420,1.444544,1.169566,0.096067,1.165875,-0.275620,1.250245,-1.108636,2.183182,...,-0.698903,-0.766210,-0.222697,-0.710466,-0.526011,-0.009423,-0.395251,-0.387412,8.95,0.0
5809,6265,0.250993,-1.896481,0.625220,0.578349,-1.478942,0.260583,-0.289120,0.042909,2.187001,...,0.050830,-0.598199,-0.405916,0.031569,-0.100270,0.904416,-0.162472,0.080550,500.00,0.0
2255,1793,-2.944999,-1.673357,-0.662442,-0.490696,3.690553,2.636986,0.179696,0.352062,0.199620,...,-0.951301,-0.639920,1.806111,0.968812,0.500121,0.162829,0.414174,-0.586554,34.48,0.0
6160,7140,0.816719,-0.321163,-0.015866,0.799123,-0.168197,-0.708302,0.581961,-0.441462,1.017362,...,-0.517036,-1.826148,-0.024175,-0.170040,0.062929,-0.062135,-0.119186,0.052429,259.90,0.0

In [53]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
6870,8757,-1.863756,3.442644,-4.468260,2.805336,-2.118412,-2.332285,-4.261237,1.701682,-1.439396,...,0.667927,-0.516242,-0.012218,0.070614,0.058504,0.304883,0.418012,0.208858,1.00,1.0
6882,8808,-4.617217,1.695694,-3.114372,4.328199,-1.873257,-0.989908,-4.577265,0.472216,0.472017,...,0.481830,0.146023,0.117039,-0.217565,-0.138776,-0.424453,-1.002041,0.890780,1.10,1.0
6899,8878,-2.661802,5.856393,-7.653616,6.379742,-0.060712,-3.131550,-3.103570,1.778492,-3.831154,...,0.734775,-0.435901,-0.384766,-0.286016,1.007934,0.413196,0.280284,0.303937,1.00,1.0
6903,8886,-2.535852,5.793644,-7.618463,6.395830,-0.065210,-3.136372,-3.104557,1.823233,-3.878658,...,0.716720,-0.448060,-0.402407,-0.288835,1.011752,0.425965,0.413140,0.308205,1.00,1.0
6971,9064,-3.499108,0.258555,-4.489558,4.853894,-6.974522,3.628382,5.431271,-1.946734,-0.775680,...,-1.052368,0.204817,-2.119007,0.170279,-0.393844,0.296367,1.985913,-0.900452,1809.68,1.0

In [54]:
new_dataset['Class'].value_counts()

0.0    492
1.0     25
Name: Class, dtype: int64

In [55]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,4314.932927,-0.262787,0.337237,0.893754,0.149882,0.046383,0.204466,0.031445,-0.006540,0.689623,...,0.051076,-0.071942,-0.157640,-0.038929,0.076172,0.085791,-0.013938,-0.022894,-0.019483,58.030163
1.0,7359.240000,-1.154048,2.930880,-4.757618,4.590240,-0.636103,-1.952536,-2.202403,0.647916,-1.581984,...,0.263011,0.393614,-0.265715,-0.116502,-0.183413,0.067479,0.256994,0.421586,0.237600,106.308400

In [56]:
#Splitting the data into Features & Targets
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [57]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
6581  8014  0.649933 -0.660716  1.283827  2.169457 -0.938512  0.546842
5928  6538 -1.057420  1.444544  1.169566  0.096067  1.165875 -0.275620
5809  6265  0.250993 -1.896481  0.625220  0.578349 -1.478942  0.260583
2255  1793 -2.944999 -1.673357 -0.662442 -0.490696  3.690553  2.636986
6160  7140  0.816719 -0.321163 -0.015866  0.799123 -0.168197 -0.708302
...    ...       ...       ...       ...       ...       ...       ...
6870  8757 -1.863756  3.442644 -4.468260  2.805336 -2.118412 -2.332285
6882  8808 -4.617217  1.695694 -3.114372  4.328199 -1.873257 -0.989908
6899  8878 -2.661802  5.856393 -7.653616  6.379742 -0.060712 -3.131550
6903  8886 -2.535852  5.793644 -7.618463  6.395830 -0.065210 -3.136372
6971  9064 -3.499108  0.258555 -4.489558  4.853894 -6.974522  3.628382

            V7        V8        V9  ...       V20       V21       V22  \
6581 -0.285284  0.083293  2.374569  ...  0.217546 -0.407082 -0.894580
5928  1.250245 -1.108636  2.183182  ...  0.740838 -0.698903 -0.766210
5809 -0.289120  0.042909  2.187001  ...  0.871150  0.050830 -0.598199
2255  0.179696  0.352062  0.199620  ... -1.498419 -0.951301 -0.639920
6160  0.581961 -0.441462  1.017362  ...  0.469065 -0.517036 -1.826148
...        ...       ...       ...  ...       ...       ...       ...
6870 -4.261237  1.701682 -1.439396  ...  0.360924  0.667927 -0.516242
6882 -4.577265  0.472216  0.472017  ... -0.039046  0.481830  0.146023
6899 -3.103570  1.778492 -3.831154  ...  0.399097  0.734775 -0.435901
6903 -3.104557  1.823233 -3.878658  ...  0.408704  0.716720 -0.448060
6971  5.431271 -1.946734 -0.775680  ... -3.042626 -1.052368  0.204817

           V23       V24       V25       V26       V27       V28   Amount
6581 -0.060158  0.365568  0.306398 -0.593129  0.029920  0.064128   222.99
5928 -0.222697 -0.710466 -0.526011 -0.009423 -0.395251 -0.387412     8.95
5809 -0.405916  0.031569 -0.100270  0.904416 -0.162472  0.080550   500.00
2255  1.806111  0.968812  0.500121  0.162829  0.414174 -0.586554    34.48
6160 -0.024175 -0.170040  0.062929 -0.062135 -0.119186  0.052429   259.90
...        ...       ...       ...       ...       ...       ...      ...
6870 -0.012218  0.070614  0.058504  0.304883  0.418012  0.208858     1.00
6882  0.117039 -0.217565 -0.138776 -0.424453 -1.002041  0.890780     1.10
6899 -0.384766 -0.286016  1.007934  0.413196  0.280284  0.303937     1.00
6903 -0.402407 -0.288835  1.011752  0.425965  0.413140  0.308205     1.00
6971 -2.119007  0.170279 -0.393844  0.296367  1.985913 -0.900452  1809.68

[517 rows x 30 columns]

In [58]:
print(Y)

6581    0.0
5928    0.0
5809    0.0
2255    0.0
6160    0.0
       ...
6870    1.0
6882    1.0
6899    1.0
6903    1.0
6971    1.0
Name: Class, Length: 517, dtype: float64

In [59]:
# Split the data into Training data & Testing data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [60]:
print(X.shape, X_train.shape, X_test.shape)

(517, 30) (413, 30) (104, 30)

In [61]:
# Logistic Regression Model with Training data Model 
model = LogisticRegression()
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [62]:
# Model Evaluation / Accuracy on training  and test data
X_train_prediction =  model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)*100

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)*100

In [63]:
print('Accuracy on Training data: ', training_data_accuracy)
print('Accuracy on Test data: ', test_data_accuracy)

Accuracy on Training data:  100.0
Accuracy on Test data:  98.07692307692307

In [64]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

#Decision Tree
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
predictions_dt = decision_tree.predict(X_test)
decision_tree_score = decision_tree.score(X_test, Y_test) * 100

print("Decision Tree Accuracy: ",decision_tree_score)

Decision Tree Accuracy:  99.03846153846155

In [65]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators= 100)
random_forest.fit(X_train, Y_train)
predictions_rf = random_forest.predict(X_test)
random_forest_score = random_forest.score(X_test, Y_test) * 100

print(" Random Forest Accuracy: ", random_forest_score)

 Random Forest Accuracy:  99.03846153846155

In [66]:
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, recall_score, f1_score


def metrics(actuals, predictions):
    print("Accuracy: {:.5f}".format(accuracy_score(actuals, predictions)))
    print("Precision: {:.5f}".format(precision_score(actuals, predictions)))
    print("Recall: {:.5f}".format(recall_score(actuals, predictions)))
    print("F1-score: {:.5f}".format(f1_score(actuals, predictions)))

In [67]:
confusion_matrix_dt = confusion_matrix(Y_test, predictions_dt.round())
print("Confusion Matrix - Decision Tree")
print(confusion_matrix_dt)

Confusion Matrix - Decision Tree
[[98  1]
 [ 0  5]]

In [68]:
print("Evaluation of Decision Tree Model")
print()
metrics(Y_test, predictions_dt.round())

Evaluation of Decision Tree Model

Accuracy: 0.99038
Precision: 0.83333
Recall: 1.00000
F1-score: 0.90909

In [69]:
confusion_matrix_rf = confusion_matrix(Y_test, predictions_rf.round())
print("Confusion Matrix - Random Forest")
print(confusion_matrix_rf)

Confusion Matrix - Random Forest
[[99  0]
 [ 1  4]]

In [70]:
print("Evaluation of Random Forest Model")
print()
metrics(Y_test, predictions_rf.round())

Evaluation of Random Forest Model

Accuracy: 0.99038
Precision: 1.00000
Recall: 0.80000
F1-score: 0.88889